/*  your css code here. If applicable */
.header{
    text-align: center;
    background-color: #011e29;
    color: white;
    
    
}

#d1{
   
    
    border: 1px solid black;
    width: 400px;
}
#d2{
    
    text-align: center;
    border: 1px solid black;
    width: 500px;
}
#d3{
    
    text-align: center;
    border: 1px solid black;
    width: 400px;
}

.body{
    background-color: #f5f5f5;;
}